server:
  port: 8082
  servlet:
    context-path: '/ead-course/'

spring:
  application:
    name: course

  datasource:
    url: jdbc:mysql://localhost:3306/course_db
    username: root
    password: root
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 10000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        generate_statistics: false
        jdbc.batch_size: 20
        jdbc.fetch_size: 50
        order_updates: true
        order_inserts: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: false
    out-of-order: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000ms
      database: 0
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration
  cache:
    type: redis
    redis:
      time-to-live: -1


logging:
  level:
    root: WARN
    com.ead: INFO
    org.springframework.boot: INFO
    org.springframework.boot.actuate: WARN
    org.springframework.boot.autoconfigure: INFO
    org.springframework.data: INFO
    org.springframework.data.repository.config: INFO
    org.springframework.web: WARN
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: INFO
    org.hibernate.dialect: INFO
    org.hibernate.engine.transaction.internal.TransactionImpl: INFO
    org.flywaydb.core: INFO
    com.zaxxer.hikari: INFO
    redis.clients.jedis: INFO